*~
build*/
*kdev*
*.orig
tags
/author-*.txt
/license-*.txt
/copyright-*.txt
/license_check/
/install*/
.DS_Store
*.swp
/source-package/
*.dox.fail
*.kate-swp
/CMakeLists.txt.user
*.bak
*.pyc
compile_commands.json
/.ycm_extra_conf.py
*.aps
/CMakeSettings.json
/.vs/
/.vscode/
/.idea/
/.settings/
/.project
/.cproject
/cmake-build*/
.clangd/
*.srctrlbm
*.srctrldb
*.srctrlprj
/.cache/
gmon.out
