*~
/build*/
/bindings/build*/
/bindings/check*/
/bindings/java/
/bindings/lua/
/bindings/python/
/bindings/ruby/
*kdev*
*.orig
tags
/author-gpl.txt
/license-*.txt
/license_check/
/install*/
.DS_Store
*.swp
/source-package/
*.dox.fail
*.kate-swp
/CMakeLists.txt.user
*.bak
*.pyc
/compile_commands.json
/.ycm_extra_conf.py
/.clang-format
