Alberto Cardellino <alberto.cardellino@iit.it>
Alberto Cardellino <alberto.cardellino@iit.it> <Alberto.Cardellino@iit.it>
Alessandro Roncone <alessandro.roncone@iit.it> <alecive87@gmail.com>
Alessandro Scalzo <alessandro.scalzo@iit.it>
Alessandro Scalzo <alessandro.scalzo@iit.it> <icub@ale.humanoids.iit.it>
Alexandre Gomes Pereira Antunes <alexandre.gomespereira@iit.it> <alexandre.antunes@plymouth.ac.uk>
Ali Paikan <ali.paikan@iit.it> <ali.paikan@gmail.com>
Andrea Ruzzenenti <andrea.ruzzenenti@iit.it>
Andrea Ruzzenenti <andrea.ruzzenenti@iit.it> <Andrea Ruzzenenti>
Andrea Ruzzenenti <andrea.ruzzenenti@iit.it> <andrea.ruzzenenti.iit.it>
Arren Glover <arren.glover@iit.it>
Austin Kothig <kothiga2112@gmail.com>
Bertrand Higy <bertrand.higy@iit.it> <bertrand.higy@gmail.com>
Carlotta Sartore <carlotta.sartore@iit.it>
Claudia Latella <claudia.latella@iit.it> <claudia.latella.86@gmail.com>
Claudio Fantacci <claudio.fantacci@iit.it> <claudio.fantacci@gmail.com>
Claudio Fantacci <claudio.fantacci@iit.it> <claudiofantacci@users.noreply.github.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <daniele.domenichelli@gmail.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <ddomenichelli@kde.org>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <ddomenichelli@drdanz.it>
Davide Perrone <dperrone@aitek.it> <aitek4iit@aitek.it>
Davide Perrone <dperrone@aitek.it> <syndacate2004@gmail.com>
Elena Ceseracciu <elena.ceseracciu@iit.it> <eowyn83@gmail.com>
Elena Rampone <elena.rampone@iit.it> <elena.rampone18@gmail.com>
Emilio Benenati <emilio.benenati@iit.it> <benen.emi@gmail.com>
Enrico Mingo <enrico.mingo@iit.it> <Enrico.Mingo@iit.it>
Ettore Landini <ettore.landini@iit.it>
Ettore Landini <ettore.landini@iit.it> <62991576+elandini84@users.noreply.github.com>
Fabio Valla <valla.fabio@live.it>
Fabio Valla <valla.fabio@live.it> <49277318+fabiovalla97@users.noreply.github.com>
Francesco Nori <francesco.nori@iit.it>
Francesco Romano <francesco.romano@iit.it> <francesco.romano.1987@gmail.com>
Francesco Romano <francesco.romano@iit.it> <makaveli@Makas-iMac.local>
Gabriele Nava <gabriele.nava@mail.polimi.it>
Gianpaolo Bontempo <gianpaolo.bontempo@iit.it> <bitrix@hotmail.it>
Giulia Martino <giulia.martino_@hotmail.it>
Giulio Romualdi <giulio.romualdi@iit.it> <giulio.romualdi@gmail.com>
Giuseppe L'Erario <giuseppe.lerario@iit.it> <gl.giuseppelerario@gmail.com>
Holger Friedrich <holgerf@vsi.cs.uni-frankfurt.de> <holgerfriedrich@users.noreply.github.com>
Juan G. Victores <jcgvicto@gmail.com>
Juan G. Victores <jcgvicto@gmail.com> <jgvictores>
Juan G. Victores <jcgvicto@gmail.com> <jgvictores@users.noreply.github.com>
Konstantinos Theofilis <kostas@ams.eng.osaka-u.ac.jp> <k.theofilis@herts.ac.uk>
Lorenzo Natale <lorenzo.natale@iit.it> <lornat75@gmail.com>
Lorenzo Rapetti <lorenzo.rapetti@iit.it> <lor.rapetti@gmail.com>
Marco Monforte <marco.monforte@iit.it> <32684998+marco-monforte@users.noreply.github.com>
Marco Randazzo <marco.randazzo@iit.it>
Marco Randazzo <marco.randazzo@iit.it> <amarco.randazzo@iit.it>
Marco Randazzo <marco.randazzo@iit.it> <randaz81@gmail.com>
Matteo Brunettini <matteo.brunettini@iit.it>
Mirko Ferrati <mirko8787@gmail.com>
Mohamed Babiker Mohamed Elobaid <mohamed.elobaid@iit.it> <mohd-b-mohd@hotmail.com>
Nicola Piga <nicola.piga@iit.it> <nicolapiga@gmail.com>
Nicolò Genesio <nicolo.genesio@iit.it>
Nicolò Genesio <nicolo.genesio@iit.it> <nicogene@hotmail.it>
Paul Fitzpatrick <paulfitz@alum.mit.edu>
Paul Fitzpatrick <paulfitz@alum.mit.edu> <paul.michael.fitzpatrick@gmail.com>
Paul Fitzpatrick <paulfitz@alum.mit.edu> <paul@robotrebuilt.com>
Paul Fitzpatrick <paulfitz@alum.mit.edu> <paulfitz@liralab.it>
Pedro Vicente <pedrovicente07@gmail.com> <vicentepedro@users.noreply.github.com>
Plinio Moreno <plinio@isr.tecnico.ulisboa.pt> <plinio@isr.ist.utl.pt>
Prashanth Ramadoss <prashanth.ramadoss@iit.it> <prashanthramadoss@gmail.com>
Silvio Traversaro <silvio.traversaro@iit.it>
Silvio Traversaro <silvio.traversaro@iit.it> <pegua1@gmail.com>
Silvio Traversaro <silvio.traversaro@iit.it> <silvio@traversaro.it>
Stefano Bernagozzi <stefano.bernagozzi@iit.it>
Stefano Bernagozzi <stefano.bernagozzi@iit.it> <sefano.bernagozzi@iit.it>
Stefano Bernagozzi <stefano.bernagozzi@iit.it> <stefano.bernagozzi@studio.unibo.it>
Stefano Dafarra <stefano.dafarra@iit.it> <stefano.dafarra@gmail.com>
Ugo Pattacini <ugo.pattacini@iit.it>
Vadim Tikhanoff <vadim.tikhanoff@iit.it> <vtikha@gmail.com>
Vadim Tikhanoff <vadim.tikhanoff@iit.it> <vtikha@iiticublap097.iit.local>
Valentina Gaggero <valentina.gaggero@iit.it>
Yeshasvi Tirupachuri <yeshasvi.tirupachuri@iit.it> <yeshasvitvs@gmail.com>
YARP Developers <yarp0-devel@lists.sourceforge.net>
YARP Developers <yarp0-devel@lists.sourceforge.net> <user@debian>
YARP Developers <yarp0-devel@lists.sourceforge.net> <icub@icub.org>
YARP Developers <yarp0-devel@lists.sourceforge.net> <icub@icub16.icub.org>
YARP Developers <yarp0-devel@lists.sourceforge.net> <icub.headv3@icub.org>
YARP Developers <yarp0-devel@lists.sourceforge.net> <icub@icub22.icub.local>
YARP Developers <yarp0-devel@lists.sourceforge.net> <ikart@iit.it>
YARP Developers <yarp0-devel@lists.sourceforge.net> <santa.claus@robotology.eu>
YARP Developers <yarp0-devel@lists.sourceforge.net> <icub-developers@iit.it>
YARP Developers <yarp0-devel@lists.sourceforge.net> <icub>
