Alberto Cardellino <alberto.cardellino@iit.it>
Alessandro Roncone <alessandro.roncone@iit.it> <alecive87@gmail.com>
Alessandro Scalzo <alessandro.scalzo@iit.it>
Alessandro Scalzo <alessandro.scalzo@iit.it> <icub@ale.humanoids.iit.it>
Ali Paikan <ali.paikan@iit.it> <ali.paikan@gmail.com>
Claudio Fantacci <claudio.fantacci@iit.it> <claudio.fantacci@gmail.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <daniele.domenichelli@gmail.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <ddomenichelli@kde.org>
Davide Perrone <dperrone@aitek.it> <aitek4iit@aitek.it>
Davide Perrone <dperrone@aitek.it> <syndacate2004@gmail.com>
Elena Ceseracciu <elena.ceseracciu@iit.it> <eowyn83@gmail.com>
Enrico Mingo <Enrico.Mingo@iit.it>
Francesco Romano <francesco.romano@iit.it> <francesco.romano.1987@gmail.com>
Francesco Romano <francesco.romano@iit.it> <makaveli@Makas-iMac.local>
Gabriele Nava <gabriele.nava@mail.polimi.it>
Holger Friedrich <holgerf@vsi.cs.uni-frankfurt.de> <holgerfriedrich@users.noreply.github.com>
Juan G Victores <jcgvicto@gmail.com> <jgvictores>
Konstantinos Theofilis <kostas@ams.eng.osaka-u.ac.jp> <k.theofilis@herts.ac.uk>
Lorenzo Natale <lorenzo.natale@iit.it> <lornat75@gmail.com>
Marco Randazzo <marco.randazzo@iit.it>
Marco Randazzo <marco.randazzo@iit.it> <amarco.randazzo@iit.it>
Marco Randazzo <marco.randazzo@iit.it> <randaz81@gmail.com>
Matteo Brunettini <matteo.brunettini@iit.it>
Mirko Ferrati <mirko8787@gmail.com>
Francesco Nori <francesco.nori@iit.it>
Paul Fitzpatrick <paulfitz@alum.mit.edu>
Paul Fitzpatrick <paulfitz@alum.mit.edu> <paul.michael.fitzpatrick@gmail.com>
Paul Fitzpatrick <paulfitz@alum.mit.edu> <paul@robotrebuilt.com>
Paul Fitzpatrick <paulfitz@alum.mit.edu> <paulfitz@liralab.it>
Plinio Moreno <plinio@isr.tecnico.ulisboa.pt> <plinio@isr.ist.utl.pt>
Silvio Traversaro <silvio.traversaro@iit.it>
Silvio Traversaro <silvio.traversaro@iit.it> <pegua1@gmail.com>
Ugo Pattacini <ugo.pattacini@iit.it>
Vadim Tikhanoff <vadim.tikhanoff@iit.it> <vtikha@gmail.com>
Valentina Gaggero <valentina.gaggero@iit.it>
Pedro Vicente <pedrovicente07@gmail.com> <vicentepedro@users.noreply.github.com>
YARP Developers <yarp0-devel@lists.sourceforge.net> <user@debian>
YARP Developers <yarp0-devel@lists.sourceforge.net> <icub@icub.org>
YARP Developers <yarp0-devel@lists.sourceforge.net> <icub@icub16.icub.org>
YARP Developers <yarp0-devel@lists.sourceforge.net> <icub.headv3@icub.org>
YARP Developers <yarp0-devel@lists.sourceforge.net> <icub@icub22.icub.local>
