Alessandro Scalzo <alessandro.scalzo@iit.it>
Ali Paikan <ali.paikan@iit.it> <ali.paikan@gmail.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <daniele.domenichelli@gmail.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <ddomenichelli@kde.org>
Elena Ceseracciu <elena.ceseracciu@iit.it> <eowyn83@gmail.com>
Marco Randazzo <marco.randazzo@iit.it> <randaz81@gmail.com>
Matteo Brunettini <matteo.brunettini@iit.it>
Paul Fitzpatrick <paulfitz@alum.mit.edu>
Valentina Gaggero <valentina.gaggero@iit.it>
