os:
  - linux

language:
  - cpp

compiler:
  - gcc
  - clang

env:
  - TRAVIS_BUILD_TYPE=Release TRAVIS_CMAKE_GENERATOR="Unix Makefiles" TRAVIS_WITH_ACE=true TRAVIS_WITH_INTEGRATION_TESTS=false TRAVIS_BLESSED=false
  - TRAVIS_BUILD_TYPE=Release TRAVIS_CMAKE_GENERATOR="Unix Makefiles" TRAVIS_WITH_ACE=false TRAVIS_WITH_INTEGRATION_TESTS=false TRAVIS_BLESSED=false
  - TRAVIS_BUILD_TYPE=Profile TRAVIS_CMAKE_GENERATOR="Unix Makefiles" TRAVIS_WITH_ACE=true TRAVIS_WITH_INTEGRATION_TESTS=true TRAVIS_BLESSED=true
  - TRAVIS_BUILD_TYPE=Release TRAVIS_CMAKE_GENERATOR="Unix Makefiles" TRAVIS_WITH_ACE=true TRAVIS_WITH_INTEGRATION_TESTS=true TRAVIS_BLESSED=false

matrix:
  exclude:
    - compiler: clang
      env: TRAVIS_BUILD_TYPE=Profile TRAVIS_CMAKE_GENERATOR="Unix Makefiles" TRAVIS_WITH_ACE=true TRAVIS_WITH_INTEGRATION_TESTS=true TRAVIS_BLESSED=true
    - compiler: gcc
      env: TRAVIS_BUILD_TYPE=Release TRAVIS_CMAKE_GENERATOR="Unix Makefiles" TRAVIS_WITH_ACE=true TRAVIS_WITH_INTEGRATION_TESTS=true TRAVIS_BLESSED=false
  allow_failures:
    - compiler: gcc
      env: TRAVIS_BUILD_TYPE=Profile TRAVIS_CMAKE_GENERATOR="Unix Makefiles" TRAVIS_WITH_ACE=true TRAVIS_WITH_INTEGRATION_TESTS=true TRAVIS_BLESSED=true
    - compiler: clang
      env: TRAVIS_BUILD_TYPE=Release TRAVIS_CMAKE_GENERATOR="Unix Makefiles" TRAVIS_WITH_ACE=true TRAVIS_WITH_INTEGRATION_TESTS=true TRAVIS_BLESSED=false

notifications:
  irc:
    channels:
      - "chat.freenode.net#yarpers"
    template:
      - "%{repository}/%{branch} (%{commit} - %{author}): %{build_url}: %{message}"
    use_notice: true
    skip_join: true

before_install:
  - sudo add-apt-repository --yes ppa:kalakris/cmake
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then wget https://github.com/paulfitz/swigs/releases/download/v0.0.4/swigs.zip; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then unzip -q swigs.zip; mkdir -p cache; mv swigs cache/swig; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then export ROS_CI_DESKTOP=`lsb_release -cs`; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then export ROS_CI_VERSION=groovy; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then export ROS_CI_PREFIX=ros-${ROS_CI_VERSION}-; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then export ROS_HOSTNAME=localhost; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then export ROS_MASTER_URI=http://localhost:11311; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then export ROBOT=sim; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then echo "deb http://packages.ros.org/ros/ubuntu $ROS_CI_DESKTOP main" | sudo tee /etc/apt/sources.list.d/ros-latest.list; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then wget http://packages.ros.org/ros.key -O - | sudo apt-key add -; fi
  - sudo apt-get update -qq

install:
  - sudo apt-get install cmake libgsl0-dev
  - if $TRAVIS_WITH_ACE; then sudo apt-get install libace-dev; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then sudo apt-get install liblua5.1-0-dev lua5.1 tcl-dev tk-dev mono-gmcs; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then sudo apt-get -y install ${ROS_CI_PREFIX}desktop-full; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then sudo rosdep init && rosdep update; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then source /opt/ros/${ROS_CI_VERSION}/setup.bash; fi
  # see http://gronlier.fr/blog/2015/01/adding-code-coverage-to-your-c-project/
  - if $TRAVIS_BLESSED; then wget http://ftp.de.debian.org/debian/pool/main/l/lcov/lcov_1.11.orig.tar.gz; fi
  - if $TRAVIS_BLESSED; then tar xf lcov_1.11.orig.tar.gz; fi
  - if $TRAVIS_BLESSED; then sudo make -C lcov-1.11/ install; fi
  - if $TRAVIS_BLESSED; then gem install coveralls-lcov; fi

before_script:
  - cmake --version
  - mkdir -p build
  - cd build
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then ln -s ../cache cache; fi
  - . ../scripts/admin/generate-cmake-options.sh $(hostname) $(lsb_release -cs) continuous
  - export YARP_CMAKE_OPTIONS=" $CMAKE_OPTIONS"
  - if ! $TRAVIS_WITH_ACE; then export YARP_CMAKE_OPTIONS="${YARP_CMAKE_OPTIONS} -DSKIP_ACE=TRUE -DYARP_TEST_HEAP=TRUE"; fi
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then export YARP_CMAKE_OPTIONS="${YARP_CMAKE_OPTIONS} -DYARP_TEST_INTEGRATION=TRUE"; fi
  - cmake -G"${TRAVIS_CMAKE_GENERATOR}" -DCMAKE_BUILD_TYPE=${TRAVIS_BUILD_TYPE} ${YARP_CMAKE_OPTIONS} ..
  - if $TRAVIS_BLESSED; then lcov --directory . --zerocounters; fi
  - cd ..

script:
  - cd build
  - cmake --build . --config ${TRAVIS_BUILD_TYPE}
  - if $TRAVIS_WITH_INTEGRATION_TESTS; then bin/yarp conf 0 0 local; fi
  - ctest -VV --build . --config ${TRAVIS_BUILD_TYPE}
  - ctest -N --build . --config ${TRAVIS_BUILD_TYPE}
  - cd ..

after_success:
  - cd build
  # capture coverage info
  - if $TRAVIS_BLESSED; then lcov --directory . --capture --output-file coverage.info; fi
  # filter out system and test code
  - if $TRAVIS_BLESSED; then lcov --remove coverage.info '/usr/*' 'tests/*' 'example/*' 'extern/*' 'idls/*' '*/harness/*' 'yarp/build/*' --output-file coverage.info; fi
  # debug before upload
  - if $TRAVIS_BLESSED; then lcov --list coverage.info; fi
  # uploads to coveralls
  - if $TRAVIS_BLESSED; then coveralls-lcov --source-encoding=ISO-8859-1 coverage.info; fi
  - cd ..
