Source: yarp
Section: net
Priority: optional
Maintainer: Paul Fitzpatrick <paulfitz@alum.mit.edu>
Build-Depends: debhelper (>= 4.0.0), cmake (>= 2.0), libace-dev (>= 5.4), doxygen, libgtk2.0-dev
Standards-Version: 3.7.2

Package: libyarp
Section: libs
Architecture: any
Depends: libyarpos, libyarpsig, libyarpdevice
Suggests: yarp-bin
Description: library support for YARP network of ports and devices
 Flexible communication between processes and devices spread
 across a local network.  Especially useful for inhomogeneous networks
 with a mixture of operating systems and compilers.  Originally developed
 for large-scale humanoid robot projects such as COG, Kismet, and RobotCub, 
 where many idiosyncratic devices need to be integrated into a single
 control system without there being any one OS that supports them all.
 Uses well-specified protocols across tcp, udp, shared-memory, and multicast.
 .

Package: libyarpos
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: yarp-bin
Description: library support for YARP network of ports.
 Flexible communication between processes spread
 across a local network.  Especially useful for inhomogeneous networks
 with a mixture of operating systems and compilers.  
 .

Package: libyarpsig
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: yarp-bin
Description: library support for YARP image processing interfaces.
 .

Package: libyarpdevice
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: yarp-bin
Description: library support for YARP network of devices.
 .

Package: libyarp-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libyarp (= ${Source-Version})
Provides: libyarp-dev
Description: header files for YARP library
 Flexible communication between processes and devices spread
 across a local network.  Especially useful for inhomogeneous networks
 with a mixture of operating systems and compilers.  Originally developed
 for large-scale humanoid robot projects such as COG, Kismet, and RobotCub, 
 where many idiosyncratic devices need to be integrated into a single
 control system without there being any one OS that supports them all.
 Uses well-specified protocols across tcp, udp, shared-memory, and multicast.
 .

Package: yarp-bin
Section: net
Priority: optional
Architecture: any
Suggests: yarp-doc
Depends: ${shlibs:Depends}
Description: command-line interface to YARP network of ports and devices
 Flexible communication between processes and devices spread
 across a local network.  Especially useful for inhomogeneous networks
 with a mixture of operating systems and compilers.  Originally developed
 for large-scale humanoid robot projects such as COG, Kismet, and RobotCub, 
 where many idiosyncratic devices need to be integrated into a single
 control system without there being any one OS that supports them all.
 Uses well-specified protocols across tcp, udp, shared-memory, and multicast.
 .

Package: yarp-view
Section: net
Priority: optional
Architecture: any
Suggests: yarp-bin
Depends: ${shlibs:Depends}
Description: Graphical viewer for data on the YARP network
 .

Package: yarp-doc
Architecture: all
Suggests: yarp-bin, libyarp-dev
Description: Documentation for YARP library
 Flexible communication between processes and devices spread
 across a local network.  Especially useful for inhomogeneous networks
 with a mixture of operating systems and compilers.  Originally developed
 for large-scale humanoid robot projects such as COG, Kismet, and RobotCub, 
 where many idiosyncratic devices need to be integrated into a single
 control system without there being any one OS that supports them all.
 Uses well-specified protocols across tcp, udp, shared-memory, and multicast.
 .
