
default:
	@echo this directory is just for packaging, skipping

deb:
	make -f Makefile.man assem
	mkdir -p $(YARP_ROOT)/package
	cp -f *.deb $(YARP_ROOT)/package

dox:
	@echo no doxygen here

clean:
	rm -rf *.deb

maker:
	cp Makefile.man Makefile
	@for d in $(SUBDIRS) ; do \
		test -d $$d && ( cd $$d ; $(MAKE) -f Makefile.man maker ) ; done
