# SPDX-FileCopyrightText: 2006-2021 Istituto Italiano di Tecnologia (IIT)
# SPDX-FileCopyrightText: 2006-2010 RobotCub Consortium
# SPDX-License-Identifier: BSD-3-Clause

# ExternalModules.cmake template file.

# List all modules here (this is a symbolic name):
# set(EXTERNAL_MODULES mod1 mod2 mod3)

# For each MODULE above add a variable named MODULE_DIR
# which specifies its location on your disk.

# set(mod1_DIR "/usr/local/mod1")
# set(mod2_DIR "/usr/local/mod2")
# set(mod3_DIR "c:/mod3")
