@font-face { font-family: Moonhouse; src: url('moonhouse.ttf'); }

#titlearea
{
    overflow: hidden;
    white-space: nowrap;
}

#titlearea table
{
    width: 100%;
}

#projectlogo
{
    width: 64px;
    height: 64px;
}

#projectname
{
    font-size: 300%;
    font-family: Moonhouse, Roboto, sans-serif;
    font-weight: bold;
    font-stretch: ultra-expanded;
    font-style: oblique;
    color: #5991ac;
    text-shadow: 0 2px 2px rgba(135,181,204,0.9);
    padding: 0px 0px;
}

#projectname_footer {
    font-size: 150%;
    font-family: Moonhouse, Roboto, sans-serif;
    font-weight: bold;
    font-stretch: ultra-expanded;
    font-style: oblique;
    color: #5991ac;
    text-shadow: 0 2px 2px rgba(135,181,204,0.9);
    padding: 0px 0px;
}

#projectbrief
{
    font-size: 120%;
    font-family: Moonhouse, Roboto, sans-serif;
    font-weight: bold;
    font-style: oblique;
    font-variant: small-caps;
    color: #87b5cc;
    text-shadow: 0 2px 2px rgba(135,181,204,0.9);
}

#projectnumber
{
    font-family: monospace, fixed;
    font-size: 10px;
    color: #195370;
    text-shadow: 0 2px 2px rgba(135,181,204,0.9);
}

#projectnumber select {
    color: #195370;
/*     background-color:rgba(0,0,0,0.1); */
/*   background: transparent; */

    font-family: monospace, fixed;
    font-weight: bold;
    font-size: 11px;
    padding: 2px;
    padding-left: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4cfe5;
    border-radius: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('yarp-favicon.ico') 7px / 13px no-repeat rgba(135,181,204,0.9);
}

#titlearea {
    background-color: #f6fbfd;
}

#yarp-logo {
    max-height: 128px;
    max-width: 100%;
}


/* Page title */
#doc-content div.title {
    font-size: 160%;
    font-weight: bold;
    font-style: oblique;
    color: #19526e;
    text-shadow: 0 2px 2px rgba(135,181,204,0.9);
}

h1, h2, h3, h4 {
    color: #19526e;
    text-shadow: 0 2px 2px rgba(135,181,204,0.9);
}

h1, h2 {
    font-variant: small-caps;
}

h4 {
    padding-left: 10px;
}

/* Header for groups of functions */
h2.groupheader {
    font-weight: bold;
    font-style: oblique;
}

/* Class member title (i.e. name of the method, etc.) */
.memtitle {
    font-weight: bold;
    font-variant: normal;
}

/* Method name in method full description */
.memname {
    font-size: 110%;
    font-weight: bold;
}

/* Method parameter names in method full description */
.paramname {
    color: #5991ac;
    font-size: 110%;
}

/* Permalink symbol */
span.permalink {
    line-height: 1;
    font-size: 100%;
    vertical-align: top;
    text-shadow: none;
}
span.permalink > a {
    color: rgba(135,181,204,0.2);
}
span.permalink > a:hover {
    color: rgba(135,181,204,1.0);
}

/* Number of the overload of the method (for example "[1/2]") next to the method name */
.overload {
    font-size: 50%;
    color: #5991ac;
    text-shadow: 0 2px 2px rgba(135,181,204,0.9);
}

/* Definition at line xxx of file yyy. */
p.definition {
    font-size: 75%;
    font-family: monospace, fixed;
    text-align: right;
    margin-bottom: 0px;
}

/* Lists of classes/functions. Also file list at the end of the pages */
#doc-content > div.contents {
    font-size: 75%;
    line-height: 1.2;
}
#doc-content > div.contents > ul {
    padding-left: 30px;
    font-family: monospace, fixed;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* "<code>" elements (usually the "#include <...>" in the documentation */
code {
    border: 1px solid #23749c;
    color: #f6fbfd;
    background-color: #19526e;
    padding: 1px 3px;
    line-height: 1.0;
    font-size: 90%;
    border-radius: 4px;
}
code a.el {
    color: #d6dbdd;
}

code a.el:visited {
    color: #d6dbdd;
}

/* /verbatim elements */
pre.fragment {
    border: 1px solid #23749c;
    color: #f6fbfd;
    background-color: #19526e;
    line-height: 1.0;
    font-size: 90%;
    border-radius: 4px;
}

/* /code elements */
div.fragment {
    padding: 4px 6px;
    margin: 4px 8px 4px 2px;
    border: 1px solid #23749c;
/*    color: #f6fbfd;*/
/*    background-color: #19526e;*/
    line-height: 1.0;
    font-size: 90%;
    border-radius: 4px;
}

/* Tweak syntax highlighting in code elements */
span.stringliteral {
    color: #ff2080;
}
span.charliteral {
    color: #ff8080
}

/* Line numbers in /code{lineno} blocks */
span.lineno {
    color: #1d6082;
    background-color: #f6fbfd;
    border-right-width: 1px;
    border-right-color: #23749c;
}

span.lineno a {
    color: #0d5072;
    background-color: #e6ebed;
}
