Source: yarp
Section: net
Priority: optional
Maintainer: Paul Fitzpatrick <paulfitz@alum.mit.edu>
Build-Depends: debhelper (>= 4.0.0), cmake (>= 2.0), libace-dev (>= 5.4), doxygen, libgtk2.0-dev
Standards-Version: 3.7.2

Package: libyarp2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Suggests: yarp-bin
Description: communication and device interfaces for humanoid robots
 Flexible communication between processes and/or machines and/or
 devices distributed across a network.  Used for humanoid robot
 projects like COG and RobotCub.  Uses well-specified protocols 
 across tcp, udp, shared-memory, and multicast.  Contains
 command-line and library interfaces.
 .

Package: libyarp2-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libyarp2 (= ${Source-Version})
Provides: libyarp-dev
Description: communication and device interfaces for humanoid robots
 Flexible communication between processes and/or machines and/or
 devices distributed across a network.  Used for humanoid robot
 projects like COG and RobotCub.  Uses well-specified protocols 
 across tcp, udp, shared-memory, and multicast.  Contains
 command-line and library interfaces.
 .

Package: yarp-bin
Section: net
Priority: optional
Architecture: any
Suggests: yarp-doc
Depends: libyarp2 (= ${Source-Version})
Description: short desc
 Something more.
 .


Package: yarp-doc
Architecture: all
Suggests: yarp-bin, libyarp2-dev
Description: Documentation for YARP
 Something more.
 .
