<?xml version="1.0" encoding="UTF-8" ?>

<!--
  SPDX-FileCopyrightText: 2006-2021 Istituto Italiano di Tecnologia (IIT)
  SPDX-License-Identifier: BSD-3-Clause
-->

<application>
  <!-- Generic information-->
  <name>ApplicationName</name>
  <description>Template Application</description>
  <version></version>

  <authors>
      <author email=""> author.name </author>
  </authors>

  <!-- Required modules -->
  <module>
      <name>Module_Name</name>
      <parameters></parameters>
      <node></node>
      <stdio></stdio>
      <prefix></prefix>
  </module>

  <!-- Embedded applications -->
  <application>
      <name>Application_Name</name>
      <prefix></prefix>
   </application>

  <!-- Required connections -->
  <connection>
      <from></from>
      <to></to>
      <protocol></protocol>
  </connection>

</application>
