<?xml version="1.0" encoding="UTF-8" ?>

<!--
  SPDX-FileCopyrightText: 2006-2021 Istituto Italiano di Tecnologia (IIT)
  SPDX-License-Identifier: BSD-3-Clause
-->

<resources>
    <!-- Multiple computer descriptions can be introduced -->
    <computer>
        <name>hostname1</name>
        <description>Template resource</description>

        <!-- A disabled resource will not be used. -->
        <disable>no</disable>

        <!-- Platform, Memory, Storage, Processor and Network speceification
        will be discoverd automatically. But peripherals sush as GPU need to
        be specifically introduced. -->
    </computer>

    <computer>
        <name>hostname2</name>
        <description>a computer with GPU device</description>
        <disable>no</disable>
        <!-- GPU description section. -->
        <gpu>
            <name>Tesla C1060</name>
            <cores>240</cores>
            <frequency>1600</frequency>
            <capability>1.3</capability>
            <registers_block>128</registers_block>
            <thread_block>512</thread_block>
            <overlap>yes</overlap>
            <global_memory>
                <total_space>4000000</total_space>
            </global_memory>
            <shared_memory>
                <total_space>128</total_space>
            </shared_memory>
            <constant_memory>
                <total_space>16</total_space>
            </constant_memory>
        </gpu>
    </computer>

</resources>
