Package: libyarp-os-dev
Version: 2.0
Section: libdevel
Priority: optional
Architecture: all
Essential: no
Depends: libace-dev | libace-dev-fake
Maintainer: Paul Fitzpatrick [paulfitz@alum.mit.edu]
Provides: libyarp-os-dev
Description: OS interface for the yarp robot platform
 Makes streaming communication between processes and/or machines easy.
 Uses well-specified protocols across tcp, udp, and multicast.
 .
