Source: yarp
Section: devel
Priority: optional
Maintainer: Paul Fitzpatrick <paulfitz@liralab.it>
Build-Depends: debhelper (>= 4.0.0), cmake (>= 2.0), libace-dev (>= 5.4), doxygen, libgtk2.0-dev
Standards-Version: 3.7.2

Package: yarp
Architecture: any
Depends: ${shlibs:Depends}
Description: communication and device interfaces for humanoid robots
 Flexible communication between processes and/or machines and/or
 devices distributed across a network.  Used for humanoid robot
 projects like COG and RobotCub.  Uses well-specified protocols 
 across tcp, udp, shared-memory, and multicast.  Contains
 command-line and library interfaces.
 .

