#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1




CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	mkdir -p Build
	( cd Build; cmake -DCMAKE_SKIP_RPATH:BOOL=YES -DCMAKE_INSTALL_PREFIX:PATH=$(CURDIR)/debian/yarp -DCREATE_GUIS:BOOL=TRUE -DCREATE_DEVICE_LIBRARY:BOOL=TRUE -DCREATE_SHARED_LIBRARY:BOOL=TRUE ..; cmake . )
	# cmake is called a second time to deal with nested options well -
	# there's an odd bug otherwise in the c_flags generated

	# Configure man page
	doxygen ./conf/Doxyfile.man

	# Configure normal documentation page
	doxygen ./conf/Doxyfile.min

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	( cd Build; $(MAKE) )

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	rm -rf Build
	rm -rf doc/man
	rm -rf doc/min
	rm -rf debian/yarp

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/yarp.
	rm -rf $(CURDIR)/debian/yarp
	( cd Build; $(MAKE) install )

	# Reorganize the installation for a debian system
	mkdir -p $(CURDIR)/debian/yarp/usr/include
	mkdir -p $(CURDIR)/debian/yarp/usr/lib
	mkdir -p $(CURDIR)/debian/yarp/usr/bin
	mv $(CURDIR)/debian/yarp/include/* $(CURDIR)/debian/yarp/usr/include
	mv $(CURDIR)/debian/yarp/lib/* $(CURDIR)/debian/yarp/usr/lib
	mv $(CURDIR)/debian/yarp/bin/* $(CURDIR)/debian/yarp/usr/bin
	rm -rf $(CURDIR)/debian/yarp/doc
	mkdir -p $(CURDIR)/debian/yarp/usr/share/man/man1
	cp doc/man/man/man1/*.1 $(CURDIR)/debian/yarp/usr/share/man/man1

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=$(CURDIR)/debian/yarp
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
#	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
