Package: libyarp-os-compat
Version: 2.0
Section: libdevel
Priority: optional
Architecture: all
Essential: no
Depends: libyarp-os, libace-dev | libace-dev-fake
Maintainer: Paul Fitzpatrick [paulfitz@alum.mit.edu]
Provides: libyarp-os-compat
Description: OS interface for the yarp robot platform version 1
 Compatability layer for early version of libyarp-os
 .
