name: Docker build

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:

  docker:
    name: 'Docker Image'
    runs-on: ubuntu-24.04
    steps:
    - name: Clone repository
      uses: actions/checkout@v4
    - name: Build Docker Image
      id: build_docker_image
      run: |
        cd docker
        docker build -t yarp:ubuntu24.04 .
