name: 'Nightly Merge'

on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  nightly-merge-yarp-3-5:
    if: github.repository == 'robotology/yarp'
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Nightly Merge
      uses: robotology/gh-action-nightly-merge@v1.3.1
      with:
        stable_branch: 'yarp-3.5'
        development_branch: 'master'
        allow_ff: false
        user_name: 'Daniele E. Domenichelli (Nightly Merge Action)'
        user_email: 'daniele.domenichelli@iit.it'
        push_token: 'drdanz_TOKEN'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        drdanz_TOKEN: ${{ secrets.drdanz_TOKEN }}
